<style>
    .scrollTable
    {
        display: block;
        height: 400px;
        table-layout: fixed;
        width: 100%;
        white-space: nowrap;
        overflow: auto;
    }
    .scrollTable2
    {
        display: block;
    }
    .fixed-table-body
    {

        overflow: hidden;
    }
    .fixedHeader{
    }
    td
    {
        overflow: hidden;
    }
    .fixed-table-container thead th .both {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC');
    }

    .fixed-table-container thead th .asc {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==');
    }

    .fixed-table-container thead th .desc {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII= ');
    }
    .sortable{
        cursor: pointer;
        background-position: right;
        background-repeat: no-repeat;
        padding-right: 30px;
    }

</style>
<h1>Hello, {{ greetings }}</h1>
<h3>Username: {{ user.username }}</h3>
<h3>Email: {{ user.email }}</h3>
<br /> 
<div class="container" >
    <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
    <div [ngSwitch]="loading">
        <div *ngSwitchWhen="true">
            <span class="glyphicon glyphicon-download-alt"  aria-hidden="true">Идет загрузка</span>
        </div>
        <div *ngSwitchWhen="false">
            <span class="glyphicon glyphicon-glyphicon glyphicon-ok"  aria-hidden="true"></span>
        </div>
    </div>
    <div class="fixed-table-container row-group">

        <div class="row">
            <button type="button" class="btn btn-default" (click)="edit(-1)" [disabled]="loading">Добавить организацию</button>
        </div>
        <div class="row">
            <div class="fixed-table-body">
                <table class="table table-striped table-bordered table-hover scrollTable" >
                    <thead class="fixedHeader">
                        <tr>
                            <th><div (click)="onClickTH('id')" class="th-inner sortable both"  [ngClass]="{'asc': sortable == 'id' && sortableType == 'asc', 'desc': sortable == 'id' && sortableType == 'desc' }">ID</div><div ></div><div class="fht-cell" style="width: 100px;"></div></th>
                    <th><div (click)="onClickTH('title')" class="th-inner sortable both" [ngClass]="{'asc': sortable == 'title' && sortableType == 'asc', 'desc': sortable == 'title' && sortableType == 'desc' }">Название</div><div></div><div class="fht-cell" style="width: 300px;"></div></th>
                    <th><div (click)="onClickTH('description')" class="th-inner sortable both" [ngClass]="{'asc': sortable == 'description' && sortableType == 'asc', 'desc': sortable == 'description' && sortableType == 'desc' }">Описание</div><div></div><div class="fht-cell" style="width: 500px;"></div></th> 
                    <th><div class="th-inner"></div><div class="fht-cell" style="width: 50px;"></div></th> 
                    </tr>
                    </thead>
                    <tbody class="scrollContent">
                        <tr *ngFor="#org of orgs; #i = index" (click)="onClickRow(org.id)" >
                            <td>
                                <div style="width: 50px;" >#{{org.id}}</div>
                            </td>
                            <td><div style="width: 300px;">
                                    <input type="text" class="form-control" id="title" 
                                           [disabled]="loading"
                                           (focus)="onFocusTitle($event, org.id)" 
                                           (blur)="onBlurTitle($event, org.id)" 
                                           (keypress)="onKeyPressTitle($event, org.id)" 
                                           [(ngModel)]="org.title"> 
                                </div></td>
                            <td><div style="width: 500px;">{{org.description}}</div></td>
                            <td>
                                <div style="width: 100px;">
                                    <button type="button" class="btn btn-default" title="Редактировать"  [disabled]="loading" (click)="edit(org.id)"> <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true" ></span></button>
                                    <button type="button" class="btn btn-default" title="Удалить" [disabled]="loading" (click)="remove(org.id)"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ></span></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6" style="margin: 0;" >
                <span>
                    Записи с {{firstRowNumber}} по {{lastRowNumber}} из {{allRowCount}}
                </span>

                <span>
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" [disabled]="loading">
                        {{pageList[indexPageList]}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li *ngFor="#item of pageList; #i = index" (click)="changePageList(i)">
                            <a>{{item}}</a>
                        </li>
                    </ul>
                </span>
                <span>
                    записей на странице
                </span>
            </div>
            <div class="col-lg-6"  style=" margin: 0;" >

                <ul class="pagination" style="float: right !important; margin: 0;" >
                    <li (click)="changePage(1)" [ngClass]="{'disabled': currentPage == 1 || loading}" >
                        <a  aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li (click)="changePage(currentPage-1)" [ngClass]="{'disabled': currentPage == 1 || loading}">
                        <a  aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li *ngFor="#page of pages; #i = index"  (click)="changePage(page)" [ngClass]="{'active': currentPage == page, 'disabled': loading}">
                        <a >{{page}}</a>
                    </li>

                    <li (click)="changePage(currentPage+1)" [ngClass]="{'disabled': maxPage == currentPage || loading}">
                        <a  aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li (click)="changePage(maxPage)" [ngClass]="{'disabled': maxPage == currentPage || loading}">
                        <a aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul> 
            </div>
        </div>
        <div class="row">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="description" [(ngModel)]="orgDetails.title" readonly>  
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="description" [(ngModel)]="orgDetails.description" readonly>  
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">s</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="s" [(ngModel)]="orgDetails.s" readonly>  
                    </div>
                </div>
            </form>
        </div>
    </div>
    <modal #myModal>
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{ typeAction }}: Организация</h4>
        </modal-header>
        <modal-body>
            <form>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" [(ngModel)]="orgEdit.title">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" [(ngModel)]="orgEdit.description">
                </div>
            </form>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="formSave(orgEdit);">Ok</button>
        </modal-footer>
    </modal>
